-# <メインチャット>
.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group-name
        =@group.name
      .main-chat__group-info__left-box__group-member
        Member :
        - @group.users.each do |member|
          =member.name
    .main-chat__group-info__edit
      = link_to edit_group_path(@group) do
        Edit        
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    .main-chat__message-form__new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "text-box", placeholder: "type a message"
        %label{class: "label"}
          =icon('far','image',class: 'icon')
          = f.file_field :image, class:"hide"
        = f.submit 'Send', class: 'main-chat__message-form__send'  